@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

html{font-size: 10px;}

body{margin: 0px; font-family: 'Noto Sans KR', sans-serif;}

header{ height: 240px;}

header div{height: 100%;}
header p{padding-top: 30px;}

.bg-img1{background-image: url(img/gridBg.jpg); background-attachment: fixed;}

#menu{ height: 46px; position: sticky; top:0px; border-bottom: 1px solid rgb(255, 255, 255); }
#menu ul{display: flex; justify-content: space-evenly; align-items: center; padding: 0px;}
#menu ul li{list-style: none; padding: 13px 30px; user-select: none;}
#menu ul li:hover{color:rgb(255, 255, 255); background-color: rgb(0, 0, 0);}

.row
{
    width: 800px;
    display: flex;
    margin: auto;
    padding: 0px 5px;
    margin-bottom: 30px;
}

.col-1{width: 16.66%; padding: 0px 5px;}
.col-2{width: 33.33%; padding: 0px 5px;}
.col-3{width: 50%; padding: 0px 5px;}
.col-4{width: 66.66%; padding: 0px 5px;}
.col-5{width: 83.32%; padding: 0px 5px;}
.col-6{width: 100%; padding: 0px 5px;}

.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}

.bg-white{background-color: rgb(0, 0, 0);}
.bg-gray{background-color: #000000;}
.bg-blue{background-color:rgb(0, 0, 0);}
.bg-green{background-color: yellowgreen;}
.bg-none{background:none;}

.text-white{color: rgb(0, 0, 0);}
.text-gray{color: #000000;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

.text-main-title{font-weight: 700; font-size: 2.4rem;}
.text-sub-title{font-weight: 500; font-size: 2rem;}
.text-normal{font-weight: 300; font-size: 1.5rem;}
.text-footer{font-weight: 500; font-size: 1.2rem;}
.text-menu{font-weight: 500; font-size: 1.4rem;}

.img-fit{width: 100%;}
.img-border{border:1px solid #ffffff; box-sizing: border-box;}

footer p{padding: 30px 5px;}
#footer{margin-bottom: 0px;}